*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    padding: 15px;
    background-color: white;
    text-align: center;
}
nav{
    display: flex;
    flex-flow: row wrap;
    background-color: #333;
    justify-content: center;
}
nav a{
    border-radius: 3px;
    color: black;
    padding: 14px 20px;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: gray;
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 25%;
    background-color: beige;
    padding: 10px;
}
section{
    flex: 70%;
    background-color: #ffc600;
    padding: 10px;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}
.logo{
    width: 450px;
    height: 300px;
}
a{
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}
.titulos{
    text-align: center;
    font-size: 30px;
}
.texto{
    font-size: 25px;
    font-family: Helvetica;
    text-align:  justify;
}
.imasi{
    text-align: center;
    width: 200px;
    height: 150px;
}
.imgi{
    width: 500px;
    height: 400px;
    text-align: center;
}



/* Productos */
.prod{
    display: inline-flex;
    flex-flow: column wrap;
    border: 1px solid black;
    height: auto;
    padding: 1%;
    width: 300px;
    margin: 10px;
    background-color: aquamarine;
}

.prod img{
    width: 100px;
    height: 100px;
    align-self: center;
}

.prod h3{
    text-align: center;
}

.prod p{
    text-align: justify;
}

.prod pre{
    float: left;
}

.prod button{
    border: 1px solid black;
    background-color: firebrick;
    float: right;
}

.container{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.autorizacion{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid darkcyan;
    margin-top: 200px;
    display: flex;
    flex-flow: column wrap;
    background-color: #ffc600;
    width: 400px;
    height: 400px;
    justify-content: space-around;
    text-align: center;
}

.autorizacion2{
    text-align: center;
    text-align-last: center;
}
